<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sf.bocfinancialsoftware">

    <application
        android:name=".util.ContextUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_application_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.analyse.BocAnalyseListActivity" />
        <activity android:name=".activity.analyse.BocAnalyseDetailActivity" />
        <activity android:name=".activity.message.MessageReminderActivity" />
        <activity android:name=".activity.message.ImportMessageListActivity" />
        <activity android:name=".activity.message.ExportMessageListActivity" />
        <activity android:name=".activity.message.GuaranteeMessageListActivity" />
        <activity android:name=".activity.message.FactoringMessageListActivity" />
        <activity android:name=".activity.message.ForwardMessageListActivity" />
        <activity android:name=".activity.business.BusinessQueryActivity" />
        <activity android:name=".activity.business.BusinessQueryCriteriaActivity" />
        <activity android:name=".activity.business.BusinessQueryResultActivity" />
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.user.UserLoginActivity"
            android:label="@string/title_activity_user"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.user.UserActivity"
            android:label="@string/title_activity_user"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.user.SuggestionActivity"
            android:label="@string/title_activity_suggestion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.user.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.user.RegisteredActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.tool.analysis.BocAnalyseListActivity"
            android:label="@string/title_activity_analysis"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.tool.rate.RateActivity"
            android:label="@string/title_activity_rate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.tool.analysis.BocAnalyseDetailActivity"
            android:label="@string/title_activity_analysis_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.tool.finance.FinanceProductListActivity"
            android:label="@string/title_activity_financial_product"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.tool.finance.FinanceProductDetailActivity"
            android:label="@string/title_activity_finalysis_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.tool.calculator.CalculatorActivity"
            android:label="@string/title_activity_calculator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.tool.calculator.ExchangeRateCalculateActivity"
            android:label="@string/title_activity_currency_calculator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.tool.product.IntelProductListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.tool.product.IntelProductDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.tool.calculator.ForwardQuotationCalculateActivity"
            android:label="@string/title_activity_forward_quotation_calculate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.sf.bocfinancialsoftware.activity.financialAssistant.AccountDetailActivity"
            android:label="@string/title_activity_account_detail"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>