<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sf.bocfinancialsoftware">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_application_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.home.analyse.BocAnalyseListActivity"/>
        <activity android:name=".activity.home.analyse.BocAnalyseDetailActivity"/>
        <activity android:name=".activity.home.message.MessageReminderActivity"/>
        <activity android:name=".activity.home.message.ImportMessageListActivity"/>
        <activity android:name=".activity.home.message.ExportMessageListActivity"/>
        <activity android:name=".activity.home.message.GuaranteeMessageListActivity"/>
        <activity android:name=".activity.home.message.FactoringMessageListActivity"/>
        <activity android:name=".activity.home.message.ForwardMessageListActivity"/>
        <activity android:name=".activity.home.business.BusinessQueryActivity"/>
        <activity android:name=".activity.home.business.BusinessQueryCriteriaActivity"/>
        <activity android:name=".activity.home.business.BusinessQueryResultActivity"/>
        <activity android:name=".activity.GuideActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity
            android:name=".activity.user.UserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.user.SuggestionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.user.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.user.RegisteredActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.tool.rate.RateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.tool.finance.FinanceProductListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.tool.finance.FinanceProductDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.tool.calculator.CalculatorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.tool.calculator.ExchangeRateCalculateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.tool.product.IntelProductDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.tool.calculator.ForwardQuotationCalculateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.financialAssistant.AccountDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.tool.product.IntelProductListActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>